/.bash_history

/bitrix/*

/*.log
/*.sql
/sitemap*.xml
/*.rar
/*.zip
/*.txt
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*~
/robots.txt
/.htaccess*
/upload/
/.cache
/test/*
/.idea
/export/

/local/vendor/


